/*
0 - 450px       Small Phone
450 - 600px:    Phone
600-900px:      Table portrait
900-1200px:     Table landscape
1200-1800px:    Is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-portrait
- tab-lanscape
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes loadingBar-90 {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }

@keyframes loadingBar-75 {
  0% {
    width: 0%; }
  100% {
    width: 75%; } }

@keyframes loadingBar-70 {
  0% {
    width: 0%; }
  100% {
    width: 70%; } }

@keyframes loadingBar-65 {
  0% {
    width: 0%; }
  100% {
    width: 65%; } }

@keyframes loadingBar-60 {
  0% {
    width: 0%; }
  100% {
    width: 60%; } }

@keyframes loadingBar-50 {
  0% {
    width: 0%; }
  100% {
    width: 50%; } }

@keyframes moveInBottomLong {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTopLong {
  0% {
    opacity: 0;
    transform: translateY(-8rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottomLong1 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(-10rem); } }

@keyframes moveInTopLong1 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(10rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media (max-width: 28.125em) {
    html {
      font-size: 43.75%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000000; }

.heading-primary {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase; }

.heading-secondary {
  font-size: 2.5rem;
  font-weight: bold; }

.text-aboutme {
  font-size: 1.5rem; }

.text-light-color {
  color: #f3ffbd; }

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1200px; }

.u-margin-bottom-sm {
  margin-bottom: 1rem; }

.u-margin-bottom-md {
  margin-bottom: 3rem; }

.u-margin-bottom-lg {
  margin-bottom: 6rem; }

.u-margin-top-sm {
  margin-top: 1rem; }

.u-margin-top-md {
  margin-top: 3rem; }

.u-margin-top-lg {
  margin-top: 6rem; }

.button-project {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background-color: #ff1654;
  color: #ffffff;
  border: none; }

.button-header {
  padding: 1rem 3rem;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: white;
  font-size: 1.8rem;
  margin-top: 2rem;
  transition: 0.3s ease; }
  .button-header:hover {
    background-color: #ff1654;
    border-color: #ff1654; }

.main-header {
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  margin-bottom: 10rem; }

.about {
  width: 100%; }
  .about__container {
    display: flex;
    flex-wrap: wrap; }
    .about__container--left {
      flex: 0 0 50%; }
    .about__container--right {
      flex: 0 0 50%;
      text-align: center; }
  .about__info__image {
    background-color: #247ba0;
    height: 20rem;
    width: 20rem;
    margin: 0 auto; }

.skills {
  width: 80%; }
  .skills__group {
    width: 100%;
    margin-bottom: 1.35rem; }
  .skills__bar {
    width: 100%;
    background-color: #b2dbbf;
    text-align: right;
    position: relative;
    height: 3rem;
    line-height: 3rem; }
  .skills__percent {
    height: 100%;
    color: white;
    background-color: #ff1654;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left; }
    .skills__percent--html {
      width: 90%;
      animation: loadingBar-90 1.5s ease-out; }
    .skills__percent--css {
      width: 90%;
      animation: loadingBar-90 1.5s ease-out; }
    .skills__percent--javascript {
      width: 75%;
      animation: loadingBar-75 1.5s ease-out; }
    .skills__percent--react {
      width: 75%;
      animation: loadingBar-75 1.5s ease-out; }
    .skills__percent--angular {
      width: 50%;
      animation: loadingBar-50 1.5s ease-out; }
    .skills__percent--nodejs {
      width: 65%;
      animation: loadingBar-65 1.5s ease-out; }
    .skills__percent--java {
      width: 60%;
      animation: loadingBar-60 1.5s ease-out; }
    .skills__percent--python {
      width: 50%;
      animation: loadingBar-50 1.5s ease-out; }
    .skills__percent--mongodb {
      width: 65%;
      animation: loadingBar-65 1.5s ease-out; }
    .skills__percent--restfulapi {
      width: 70%;
      animation: loadingBar-70 1.5s ease-out; }
  .skills__text--name {
    font-size: 1.2rem;
    margin-left: 1rem; }
  .skills__text--percent {
    font-size: 1.2rem;
    margin-right: 1rem; }

.quality {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .quality__box {
    flex: 0 0 23%;
    height: 25rem;
    background-color: #247ba0;
    text-align: center; }
    .quality__box img {
      width: 60%; }

.footer__icons-container {
  display: flex;
  width: 25rem;
  justify-content: space-between;
  margin: 0 auto; }

.footer__icon {
  height: 5rem;
  width: 5rem;
  background: pink;
  text-align: center;
  line-height: 5rem;
  border-radius: 15px; }
  .footer__icon p {
    font-size: 2.5rem; }

.header {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center center;
  position: relative; }
  .header__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0; }
  .header__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 3;
    text-align: center; }
    .header__heading h1 {
      font-size: 5rem; }
    .header__heading h3 {
      font-size: 3rem; }

.project__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.project__box {
  flex: 0 0 32%;
  height: 30rem;
  margin-bottom: 2%;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #ffffff; }
  .project__box--front {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease; }
    .project__box--front-1 {
      background-image: url("/img/hypedgoods-1.png"); }
    .project__box--front-2 {
      background-image: url("/img/hypedgoods-1.png"); }
    .project__box--front-3 {
      background-image: url("/img/hypedgoods-1.png"); }
    .project__box--front-4 {
      background-image: url("/img/hypedgoods-1.png"); }
    .project__box--front-5 {
      background-image: url("/img/hypedgoods-1.png"); }
    .project__box--front-6 {
      background-image: url("/img/hypedgoods-1.png"); }
  .project__box--back {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    opacity: 1;
    transition: all 0.5s ease; }
  @media not all and (hover: none) {
    .project__box:hover .project__box--front {
      opacity: 0; }
    .project__box:hover .project__box--back {
      opacity: 1; }
      .project__box:hover .project__box--back .project__info__text {
        animation: moveInTopLong 0.4s ease-in-out; }
      .project__box:hover .project__box--back .button-project {
        animation: moveInBottomLong 0.4s ease-in-out; } }

.project__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .project__info__text {
    margin-bottom: 5.5rem;
    animation: moveInBottomLong1 0.4s ease-in-out; }
    .project__info__text .project-name {
      animation: moveInBottomLong1 0.4s ease-in-out;
      font-weight: bold;
      font-size: 1.9rem; }
    .project__info__text .project-stack {
      animation: moveInBottomLong1 0.4s ease-in-out;
      font-size: 1.4rem; }

.button-project {
  animation: moveInTopLong1 0.4s ease-in-out; }

.section-about {
  min-height: 100vh;
  padding: 10rem 0;
  background-color: white; }

.section-project {
  min-height: 100vh;
  padding: 10rem 0;
  background-color: aliceblue; }

.section-contact {
  min-height: 100vh;
  padding: 10rem 0;
  background-color: #ff1654; }

.section-footer {
  height: 25rem;
  background: #292323;
  padding: 5rem 0; }
