// Font default size is 16px
$default-font-size: 1.6rem;

// Basic Colors
$color-white: #ffffff;
$color-black: #000000;

$color-primary: rgb(196, 187, 248);

// Color Palette
$color-palette-1: #247ba0;
$color-palette-2: #70c1b3;
$color-palette-3: #b2dbbf;
$color-palette-4: #f3ffbd;
$color-palette-5: #ff1654;

$color-palette-2-light: #97d1c7;
$color-palette-4-light: #faffe7;
$color-palette-1-dark: #0e2d3b;
$color-palette-1-darker: #0a222c;
$color-palette-1-darkest: #07171e;
