// Font default size is 16px
$default-font-size: 1.6rem;

// Basic Colors
$color-white: #ffffff;
$color-black: #000000;

// Collor Pallete
$color-primary: rgb(196, 187, 248);
$color-pallete-1: #247ba0;
$color-pallete-2: #70c1b3;
$color-pallete-3: #b2dbbf;
$color-pallete-4: #f3ffbd;
$color-pallete-5: #ff1654;
