@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/buttons';
@import 'components/hamburger';
@import 'components/mainheader';

@import 'layout/about';
@import 'layout/contact';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/nav';
@import 'layout/projects';

@import 'pages/home';
