.footer {
  &__icons-container {
    display: flex;
    width: 25rem;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__icon {
    height: 5rem;
    width: 5rem;
    background: $color-palette-1-dark;
    text-align: center;
    line-height: 5rem;
    border-radius: 15px;
    color: $color-white;
    cursor: pointer;
    transition: 0.2s ease;

    & p {
      font-size: 2.5rem;
    }

    &:hover {
      background: $color-palette-2-light;
      transform: translateY(3px);

      & p {
        color: $color-black;
        animation: moveInRotate 0.3s ease;
      }
    }
  }

  &__copyright {
    margin-top: 4rem;
    color: $color-white;
    text-align: center;
    font-size: 1.3rem;
  }

  @include respond(phone) {
    &__icons-container {
      width: 32rem;
      margin: 0 auto;
    }

    &__icon {
      height: 7rem;
      width: 7rem;
      line-height: 7rem;

      & p {
        font-size: 3.5rem;
      }
    }

    &__copyright {
      margin-top: 4rem;
      font-size: 1.5rem;
    }
  }
}
