.header {
  height: 100vh;
  // background-image: url('https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80');

  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.85),
      rgba($color-black, 0.85)
    ),
    url('/img/heroiamge-1.jpg');

  background-size: cover;
  background-position: center center;
  position: relative;

  &__heading {
    @include absCenter;
    color: $color-white;
    z-index: 3;
    text-align: center;
    width: 100%;

    & h1 {
      font-size: 5rem;
      animation: moveInLeft 1.2s ease-out 0.5s;
      animation-fill-mode: backwards;

      & span {
        color: $color-palette-5;
      }
    }

    & h3 {
      font-size: 3rem;
      animation: moveInRight 1.2s ease-out 0.5s;
      animation-fill-mode: backwards;
    }
  }
}
