.nav {
  position: fixed;
  width: 100%;
  transition: 1s;
  z-index: 99;
  color: $color-white;
  height: 9rem;
  padding-top: 3rem;

  &__container {
    display: flex;
    line-height: 6rem;
  }

  &__logo {
    flex: 0 0 7%;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    cursor: pointer;
  }

  &__links {
    flex: 0 0 93%;
    text-align: right;

    & ul {
      list-style: none;

      & li {
        display: inline-block;
        padding: 0 2rem;
        margin: 0 0.5rem;
        text-align: center;

        cursor: pointer;
      }
    }
  }

  &__burger {
    flex: 0 0 0%;
    color: white;
    text-align: right;
    padding-right: 2rem;
    cursor: pointer;
    display: none;
  }

  // Do the responsiveness, display none for links
  @include respond(phone) {
    height: 9rem;
    // background-color: $color-palette-1-darkest;

    &__container {
      // line-height: 9rem;
      justify-content: space-between;
    }

    &__logo {
      flex: 0 0 20%;
      padding-left: 2rem;
      font-size: 3.5rem;
    }

    &__links {
      flex: 0 0 0%;
      display: none;

      .showing {
        max-height: 60vh;
      }

      & ul {
        & li {
          width: 100%;
          padding: 2rem 0;
          margin: 2rem 0;
        }
      }
    }

    &__burger {
      flex: 0 0 20%;
      display: block;
    }
  }
}

.nav.dark {
  height: 6rem;
  padding-top: 0;
  background-color: $color-palette-1-darkest;
}
