.nav {
  position: fixed;
  width: 100%;
  transition: 1s;
  z-index: 99;
  color: $color-white;
  height: 9rem;
  padding-top: 3rem;

  &__container {
    display: flex;
    line-height: 6rem;
    flex-wrap: wrap;
  }

  &__logo {
    flex: 0 0 7%;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    cursor: pointer;
  }

  &__links {
    flex: 0 0 93%;
    text-align: right;
    transition: all 0.5s;

    & ul {
      list-style: none;
      overflow: hidden;

      & li {
        display: inline-block;

        text-align: center;
        cursor: pointer;
      }
    }
  }

  &__burger {
    flex: 0 0 0%;
    text-align: right;
    padding-right: 2rem;
    cursor: pointer;
    display: none;
  }

  // Do the responsiveness, display none for links
  @include respond(phone) {
    height: 7rem;
    padding-top: 0;
    background-color: $color-palette-1-darkest;

    &__container {
      line-height: 8rem;
      justify-content: space-between;
    }

    &__logo {
      flex: 0 0 20%;
      padding-left: 3rem;
      font-size: 4rem;
    }

    &__links {
      flex: 0 0 100%;
      order: 2;

      & ul {
        background: $color-black;
        transition: all 0.5s;
        max-height: 0;
        margin-top: -1.5rem;

        & li {
          width: 100%;
          margin-bottom: 1rem;
          font-size: 2.5rem;
        }
      }
    }

    &__burger {
      flex: 0 0 20%;
      padding-right: 3rem;
      display: block;
    }
  }
}

.nav.dark {
  height: 6rem;
  padding-top: 0;
  background-color: $color-palette-1-darkest;

  @include respond(phone) {
    height: 8rem;
  }
}

ul.showing {
  max-height: 60vh;
}
