.project {
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__box {
    flex: 0 0 32%;
    height: 30rem;
    margin-bottom: 2%;
    border-radius: 1rem;

    text-align: center;

    position: relative;
    overflow: hidden;

    // Just in case the image doesnt load
    background-color: $color-white;

    @include respond(phone) {
      flex: 0 0 100%;
      height: 40rem;
      margin-bottom: 2rem;
    }

    @include respond(small-phone) {
      flex: 0 0 100%;
      height: 30rem;
      margin-bottom: 2rem;
    }

    &--front {
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 1s ease;

      // Just the diffent images for the front of the project box
      &-1 {
        background-image: url('/img/hypedgoods-1.png');
      }

      &-2 {
        background-image: url('/img/firehouse-1.png');
      }

      &-3 {
        background-image: url('/img/moviedb-1.png');
      }

      &-4 {
        background-image: url('/img/vape3one-1.png');
      }

      &-5 {
        background-image: url('/img/hoopfinder-1.png');
      }

      &-6 {
        background-image: url('/img/sqratchxchange-1.png');
      }
    }

    &--back {
      height: 100%;
      width: 100%;
      position: absolute;

      opacity: 0;
      transition: all 0.5s ease;

      // Just the different color of the back of the project box
      &-1 {
        background-color: $color-palette-1;
        color: $color-white;
      }

      &-2 {
        background-color: $color-palette-2;
        color: $color-black;
      }
    }

    @include hover-supported() {
      &:hover &--front {
        opacity: 0;
      }

      &:hover &--back {
        opacity: 1;

        .project__info__text {
          animation: moveInTop 0.4s ease-in-out;
        }

        .button-project {
          animation: moveInBottom 0.4s ease-in-out;
        }
      }
    }
  }

  &__info {
    @include absCenter;
    width: 80%;

    &__text {
      margin-bottom: 2rem;
      animation: moveOutTop 0.4s ease-in-out; // This animates the header to move up giving an illusion for hovering out

      .project-name {
        font-weight: bold;
        font-size: 1.9rem;
      }

      .project-stack {
        font-size: 1.4rem;
      }
    }
  }
}

.button-project {
  animation: moveOutBottom 0.4s ease-in-out; // This animates the button to move down giving an illusion for hovering out
}
