.button {
  &-project {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background-color: $color-palette-5;
    color: $color-white;
    border: none;
    cursor: pointer;
  }

  &-header {
    padding: 1rem 3rem;
    background-color: transparent;
    border: 2px solid $color-white;
    color: white;
    font-size: 1.8rem;
    margin-top: 2rem;
    transition: 0.2s ease;
    animation: moveInBottom-elastic 1.3s ease-out 1s;
    animation-fill-mode: backwards;

    &:hover {
      background-color: $color-palette-5;
      border-color: $color-palette-5;
      transform: translateY(-2px);
    }

    @include respond(phone) {
      padding: 1.5rem 3rem;
      border: 2px solid $color-white;
      color: white;
      font-size: 2.2rem;
      margin-top: 2rem;
      transition: 0.2s ease;
      animation: moveInBottom-elastic 1.3s ease-out 1s;
      animation-fill-mode: backwards;
    }
  }
}

// PROBABLY GOOD IDEA TO HAVE BUTTONS HAVE THE SAME FONT SIZE AND MAYBE SAME COLORS
