// FOR SKILL BARS
@keyframes loadingBar-90 {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes loadingBar-75 {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes loadingBar-70 {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes loadingBar-65 {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

@keyframes loadingBar-60 {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

@keyframes loadingBar-50 {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}
