// FOR SKILL BARS
@keyframes loadingBar-90 {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes loadingBar-75 {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes loadingBar-70 {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes loadingBar-65 {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

@keyframes loadingBar-60 {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

@keyframes loadingBar-55 {
  0% {
    width: 0%;
  }

  100% {
    width: 55%;
  }
}

@keyframes loadingBar-50 {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

// MOVES IN/OUT/LEFT/RIGHT

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom-elastic {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }

  70% {
    opacity: 0.7;
    transform: translateY(-0.2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-8rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveOutTop {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-10rem);
  }
}

@keyframes moveOutBottom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(10rem);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// move from the right to left to right to destination
@keyframes moveInRotate {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  25% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  75% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// just a pulse that spreads
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba($color-palette-1-dark, 0.6);
    background: rgba($color-palette-1-dark, 0.6);
  }

  to {
    box-shadow: 0 0 0 1000px rgba($color-palette-1-dark, 0);
    background: rgba($color-palette-1-dark, 0);
  }
}

// For Menu Icon burger
@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
