// FOR SKILL BARS
@keyframes loadingBar-90 {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes loadingBar-75 {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes loadingBar-70 {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes loadingBar-65 {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

@keyframes loadingBar-60 {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

@keyframes loadingBar-50 {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

// same as moveInBottom but the starting point is lower. translateY(8rem)
@keyframes moveInBottomLong {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTopLong {
  0% {
    opacity: 0;
    transform: translateY(-8rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// This is for after a hover out of the project card
@keyframes moveInBottomLong1 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-10rem);
  }
}

@keyframes moveInTopLong1 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(10rem);
  }
}
