.section-about {
  min-height: 100vh;
  padding: 10rem 0;
  background-color: $color-white;
}

.section-project {
  min-height: 100vh;
  padding: 10rem 0;
  background-color: $color-palette-4-light;
}

.section-contact {
  min-height: 80vh;
  padding: 10rem 0;
  background-color: $color-palette-1-dark;
}

.section-footer {
  height: 20rem;
  background: $color-palette-1-darker;
  padding: 5rem 0 1rem 0;
}
